#body{
    width: 100%;
    height: 100%;
    background-color: wheat;
    margin-left: 0%;
    margin-top: -1.5%;

}

#top-menu{
    background-color: yellow;
    text-align: center;
    position: relative;
    font-size: 150%;
    padding-top: 1%;
}
#Lien{
    text-decoration: none;
    color: black;
} 
.colors{
    color: red;
}

.present{
    font-size: 150%;
}
#menu{
    text-decoration: none;
    list-style: none;
    font-size: 100%;
    
    
}
#image{
    float: right;   
    position: relative;
}


.sous{
    display:none;
    box-shadow: 5px 2px 5px black;
    background-color: white;
    list-style: none;
    padding:0%;
}


#menu :hover .sous{
    display: block;
    position: absolute;
}
.sous li{
    float: none;
    width: 100%;
    text-align:center;
}
.sous a {
    padding: 1px ;
    border-bottom: none;
}

.sous a:hover{
    background-color: gray;
   

}



.lien{
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;

}

.lien a{
    text-decoration:none;
    color: rgb(128, 85, 5);
}
#presentation{
    margin-top: 10vh;
    margin-left: 20vw;
    margin-right: 20vw;
}


#footer{
    text-align: center;
    background-color: yellow;
    position: relative ;
    height: 5vh;
    padding: 0.1vh;
    margin-bottom: -1.5%;
}