#titre{
    font-size: 300%;
    color: rgb(98, 4, 4);
    text-decoration:underline;

}
#source{
    font-size: 110%;
    color:royalblue;
    
}



.lexique{
    text-align: center;
}
.alpha{
    color: red;
    font-size: 122%;
    text-decoration: underline;
}
.Letter{
    text-decoration: none;
    color:black;
    font-size: 120%;
}

.masque{
    max-width:50%;
    margin-left: 25%;
    color: none;
    font-size: 110%;
    border: 1px solid black;
    background-color: #fdd282;
}

.texte{
    text-align: left;
    font-size: 100%;
}

